# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cursor
.cursor/

# Build
build/
.cache/

*.idx
*.idx.gz
*.idx.bz2
*.idx.lzma
*.idx.zstd
*.idx.lz4
*.idx.snappy

# References
References/typescript-sdk/
References/DraftConversion/